<template name="discussShow">
  <div class="module">
    <div class="discuss-header">
      <h1>{{ title }}</h1>
      <div class="discuss-users">
        {{ pluralize memberIds 'people' }} in this discussion.
        <a href="{{ pathFor route='threadsUsers' }}">View all people <i class="fa fa-long-arrow-right"></i></a>
      </div>
    </div>
    <div class="discuss-chat-screen">
      {{#if isChatEmpty}}
        <p class="empty-thread">This chat is currently empty.</p>
      {{else}}
        {{#if hasMoreMessages}}
          {{#if moreMessagesLoading}}
            <div class="more-messages">Loading...</div>
          {{else}}
            <button id="more-message-btn" class="more-messages">Load More Messages</button>
          {{/if}}
        {{/if}}
        {{#each messages}}
          {{> discussBubble this}}
        {{/each}}
      {{/if}}
    </div>
    <div class="response-area">
      <textarea row="3" class="message-content" placeholder="Enter your message here"></textarea>
      <button class="send-message">Send</button>
    </div>
    <p class="minor-tooltip">Ctrl + Enter to send a message. Markdown is supported.</p>
  </div>
</template>
