<template name="threadsIndex">

  <div class="module">
    <div class="app-section">
      <div class="header">
        <h1>Community Discussions</h1>
        <button class="create">
          Create a discussion
          <i class="fa fa-long-arrow-right"></i>
        </button>
      </div>

      <div class="sort-bar">
        <button data-value="active" class="{{activeIfSort 'active'}}">
          <i class="fa fa-fire"></i> Most Active
        </button>
        <button data-value="relevant" class="{{activeIfSort 'relevant'}}">
          <i class="fa fa-child"></i> Most Relevant to Me
        </button>
      </div>
    </div>

    <div class="threads-list">
      {{#if isLoadingThreads}}
        <p><i class="fa fa-spin fa-spinner"></i> Loading discussions...</p>
      {{else}}
        {{#if hasThreads}}
          {{#each threads}}
            {{> discussListItem this }}
          {{/each}}
          {{#if hasMoreThreads}}
            <div class="show-more">
              <button class="show-more-btn">Show More</button>
            </div>
          {{/if}}
        {{else}}
          <div class="no-results">
            <i class="fa fa-frown-o fa-large"></i> No discussions found.
          </div>
        {{/if}}
      {{/if}}
    </div>
  </div>
</template>
