<template name="threadsShow">
  <div class="module">
    <div class="chat-screen">
      {{#if isChatEmpty}}
        <p class="empty-thread">This chat is currently empty.</p>
      {{else}}
        {{#if hasMoreMessages}}
          {{#if moreMessagesLoading}}
            <div class="more-messages">Loading...</div>
          {{else}}
            <button id="more-message-btn" class="more-messages">Load More Messages</button>
          {{/if}}
        {{/if}}
        {{#each messages}}
          {{> messagesBubble this}}
        {{/each}}
      {{/if}}
    </div>
    <div class="response-area">
      <input class="message-content" type="text" placeholder="Enter your message here" />
      <button class="send-message">Send</button>
    </div>
  </div>
</template>
