<template name="threadsUsers">

  <div class="module">
    <a href="javascript: history.back();"><i class="fa fa-long-arrow-left"></i> Back</a>
  </div>

  <div class="top-bar">
    <input id="search-bar" class="search-bar" type="search" placeholder="Search skills and interests for users in this discussion..." value="{{ searchQuery }}"/>
    {{#if suggestedKeywords}}
      <div class="suggestions">
        {{#each suggestedKeywords}}
          <button class="suggestion" data-rawContent="{{ content }}">{{ formatKeyword content }}</button>
        {{/each}}
      </div>
    {{/if}}
  </div>

  <div class="search-results">
    <h3>
      People participating in '{{ title }}'...
      {{#if isSearching}}
        <a href="#" class="clear-search-btn">Clear search</a>
      {{/if}}
    </h3>
    {{#if isSearching}}
      {{#if searchResults}}
        <div class="search-results-container">
          {{#each searchResults}}
            <a class="user-list-item" href="{{ pathFor route='usersShow'}}">
              <div class="profile-image" style="{{ profileBackgroundImage this }}"></div>
              <div class="item-details">
                <p class="lead">{{ firstName }}</p>
                <p class="sublead">{{ headline }}</p>
              </div>
            </a>
          {{/each}}
        </div>
      {{else}}
        {{#if isSearchLoading}}
          <div>
            {{> spinner}}
          </div>
        {{else}}
          <p>No results were found for "{{ searchQuery }}".</p>
        {{/if}}
      {{/if}}
    {{else}}
      <!-- Show a list of all the users in this discussion. -->
      <div class="search-results-container">
        {{#each usersInThread}}
          <a class="user-list-item" href="{{ pathFor route='usersShow'}}">
            <div class="profile-image" style="{{ profileBackgroundImage this }}"></div>
            <div class="item-details">
              <p class="lead">{{ firstName }}</p>
              <p class="sublead">{{ headline }}</p>
            </div>
          </a>
        {{/each}}
      </div>
    {{/if}}
  </div>
</template>
