<template name="frontpage">
  <div class="frontpage-banner">
    <div class="frontpage-overlay"></div>
    <div class="frontpage-caption">
      <img src="/logo.png" />
      <h2>Connect with nearby entrepreneurs.</h2>
      <button id="connect">
        Get Started >
      </button>
    </div>
  </div>

  <div class="row featurette">
    <div class="col-md-7">
      <h2>Connect</h2>
      <p class="lead">We import your LinkedIn profile and location so that others can find you.</p>
    </div>
    <div class="col-md-5">
      <img class="img-responsive" data-src="holder.js/500x500/auto" />
    </div>
  </div>

  <div class="row featurette">
    <div class="col-md-5">
      <img class="img-responsive" data-src="holder.js/500x500/auto" />
    </div>
    <div class="col-md-7">
      <h2>Search</h2>
      <p class="lead">Whether you're looking for a developer, a designer, or business expect, you can search by specific skills, and get relevant results sorted by proficiency and distance away from you.</p>
    </div>
  </div>

  <div class="row featurette">
    <div class="col-md-7">
      <h2>Discover</h2>
      <p class="lead">Ask a question, get advice, or schedule a meeting with real time messaging.</p>
    </div>
    <div class="col-md-5">
      <img class="img-responsive" data-src="holder.js/500x500/auto" />
    </div>
  </div>
</template>
