body {
  font-size: 16px;
  background: @baseColor;
  color: @baseTextColor;
  @media (min-device-width : 320px) and (max-device-width : 480px) {
    font-size: 13px;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: normal;
  line-height: normal;
}

a {
  color: @linkColor;
  &:hover {
    color: darken(@linkColor, 10%);
  }
}

label {
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 .5em 0;
}

p {
  margin: 0 0 .5em 0;
}

button, textarea, input {
  outline: none;
  border: 0;
}

button {
  color: @buttonColor;
  background: #FFF;
  border-radius: 4px;
  border: 1px solid @baseBorderColor;
  padding: .5em .6em;
  .box-shadow(0 1px 0 0 rgba(0, 0, 0, 0.05));
  &:hover {
    border-color: darken(@baseBorderColor, 3%);
    .box-shadow(0 1px 0 0 rgba(0, 0, 0, 0.08));
  }
  &:active {
    .box-shadow(inset 0 1px 1px 1px rgba(0, 0, 0, 0.1));
    background: darken(@baseColor, 1%);
  }
}

.outer-wrapper {
  width: 640px;
  margin: 0 auto;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -320px;
  height: 100%;
  @media (min-device-width : 320px) and (max-device-width : 480px) {
    width: 100%;
    margin: 0;
    left: 0;
  }
}

.content-wrapper {
  overflow: auto;
  background: #FFF;
  border: 1px solid @baseBorderColor;
}

.module {
  background: @baseColor;
  padding: 1em;
  margin: 0 1em 1em 1em;
  border-radius: 4px;
  &:first-of-type {
    margin-top: 1em;
  }
  .module-title {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    .back-btn {
      float: left;
      font-size: 0.5em;
      margin-right: 1em;
    }
  }
}

.submission-form {
  padding: .5em;
  label {
    display: block;
    margin-bottom: 1em;
    .field-title {
      display: block;
      font-size: 1.1em;
    }
    .field-description {
      display: block;
      font-size: 0.9em;
      font-style: italic;
      color: @lightTextColor;
      margin-bottom: .8em;
    }
    input[type="textbox"], textarea {
      width: 100%;
      border: 1px solid @baseBorderColor;
      padding: 1em;
    }
  }
}

.show-more {
  width: 100%;
  text-align: center;
  padding: 1em;
  .show-more-btn {
  }
}

.app-section {
  .header {
    overflow: auto;
    h1 {
      font-size: 1.5em;
      float: left;
      margin-top: .17em;
    }
    .create {
      float: right;
    }
  }
}

.results-list {
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  border: 1px solid @baseBorderColor;
  border-top: 0;
  .no-results {
    padding: 2em 1em;
    background: #FFF;
  }
}

.sort-bar {
  border-bottom: 2px solid @baseBorderColor;
  button {
    background: none;
    box-shadow: none;
    padding: .5em;
    margin: 0;
    border-radius: 0;
    border: 0;
    position: relative;
    top: 2px;
    margin-right: 1em;
    &:hover {
      color: @accentColor;
    }
    &.active {
      color: @accentColor;
      border-bottom: 2px solid @accentColor;
    }
  }
}
