body {
  font-size: 16px;
  background: darken(@gray, 15%);
}

.outer-wrapper {
  width: 640px;
  margin: 0 auto;
  background: #FFF;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -320px;
  height: 100%;
  overflow: hidden;
}

.module {
  background: @gray;
  padding: 1em;
  margin: 0 1em 1em 1em;
  border-radius: 4px;
  &:first-of-type {
    margin-top: 1em;
  }
  .module-title {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }
}
