.top-bar {
  margin: 1em;
  padding: 1em;
  background: @baseColor;
  border-radius: 4px;
  .search-bar {
    height: 3em;
    font-size: 1.25em;
    width: 100%;
    border: 0;
    padding: 0 1em;
    border: 1px solid @baseBorderColor;
  }
  .suggestions {
    padding: 1em 0 0 0;
    .suggestion {
      color: #FFF;
      background: @linkBlue;
      border-radius: 4px;
      border: 1px solid darken(@linkBlue, 3%);
      margin: 0.25em;
      &:hover {
        background: lighten(@linkBlue, 3%);
      }
    }
  }
}

.user-list-item {
  padding: 1em;
  display: block;
  border: 1px solid @baseBorderColor;
  background: #FFF;
  border-bottom: 0;
  height: 5em;
  overflow: hidden;
  &:hover {
    cursor: pointer;
    background-color: @lightYellow;
  }
  &:first-child {
    border-radius: 4px 4px 0 0;
  }
  &:last-child {
    border-radius: 0 0 4px 4px;
    border-bottom: 1px solid @baseBorderColor;
  }
  &:only-child {
    border-radius: 4px;
    border-bottom: 1px solid @baseBorderColor;
  }
  .profile-image {
    width: 3em;
    height: 100%;
    background-size: contain;
    background-color: @baseColor;
    background-repeat: no-repeat;
    float: left;
    margin-right: 1em;
  }
  .profile-meta {
    float: right;
    .meta {
      color: lighten(@textColor, 3%);
    }
  }
  .item-details {
    float: left;
    width: 17em;
    .lead {
      color: darken(@textColor, 5%);
      font-size: 1.25em;
      margin: 0;
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .sublead {
      color: @textColor;
      margin: 0;
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

.search-results {
  margin: 0 1em 1em 1em;
  background: @baseColor;
  border-radius: 4px;
  padding: 1em;
  h3 {
    margin: 0 0 1em 0;
    .clear-search-btn {
      color: @lightTextColor;
      float: right;
      font-size: 0.6em;
    }
  }
  .search-results-container {
    max-height: 40em;
    overflow: auto;
    @media (min-device-width : 320px) and (max-device-width : 480px) {
      max-height: 19em;
    }
  }
}
