<template name="frontpage">
  <div class="frontpage-banner">
    <div class="frontpage-overlay"></div>
    <div class="frontpage-caption">
      <img src="/img/logo.png" />
      <h2>Connect with nearby talent.</h2>
      {{#if isLoginConfigured}}
        <button id="connect">
          Get Started >
        </button>
      {{/if}}
    </div>
  </div>

  <script type="text/javascript">
    var windowHeight = $(window).height();
    $('.frontpage-banner').height(windowHeight);
  </script>

  <div class="row featurette">
    <div class="col-md-7">
      <h2>Connect</h2>
      <p class="lead">We use your LinkedIn profile to make it easy to sign up in one click. We import your skills, interests, and work experience so that other can find you through them.</p>
    </div>
    <div class="col-md-5">
      <img class="img-responsive" src="http://lorempixel.com/400/200" />
    </div>
  </div>

  <hr class="featurette divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2>Search</h2>
      <p class="lead">Whether you're looking for a developer, a designer, or business expert, you can search by specific skills, and get relevant results sorted by proficiency and distance away from you.</p>
    </div>
    <div class="col-md-5">
      <img class="img-responsive" src="http://lorempixel.com/400/200" />
    </div>
  </div>

  <hr class="featurette divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2>Discover</h2>
      <p class="lead">See projects, discussions, and questions being asked around you. Engage with the community. See someone you'd like to meet? Ask them to meetup with real-time messaging.</p>
    </div>
    <div class="col-md-5">
      <img class="img-responsive" src="http://lorempixel.com/400/200" />
    </div>
  </div>
</template>
