<template name="usersSearch">
  <div class="top-bar">
    <input id="search-bar" class="search-bar" type="search" placeholder="Search for skills, work experience, role, or interests..."/>
  </div>

  {{#if isSearching}}
    <div class="search-results">
      {{#if searchResults}}
        <div class="search-results-container">
          {{#each searchResults}}
            <a class="user-list-item" href="{{ pathFor route='usersShow'}}">
              <div class="profile-image" style="{{ profileBackgroundImage this }}"></div>
              <div class="profile-details">
                <p class="name">{{ firstName }}</p>
                <p class="title">{{ headline }}</p>
              </div>
              <div class="profile-meta">
                <p class="distance">{{ distanceAwayInKm distance }}</p>
              </div>
            </a>
          {{/each}}
        </div>
      {{else}}
        <p>Loading...</p>
      {{/if}}
    </div>
  {{/if}}
</template>
