<template name="usersSettings">
  <div class="module">
    <h1>Hey, {{ firstName }} {{lastName}}.</h1>
    <p>This is your dashboard where you can update your public profile or configuring your settings.</p>
  </div>

  <div class="module">
    <p>Select the kind of role you identify with.</p>
    <div id="listedAsOptions" class="role-options" data-user-key="listedAs">
      <div class="role {{maybeActiveLA 'designer'}}" data-role="designer">Designer</div>
      <div class="role {{maybeActiveLA 'developer'}}" data-role="developer">Developer</div>
      <div class="role {{maybeActiveLA 'business'}}" data-role="business">Biz. Dev.</div>
    </div>
    <p>Select the kinds of roles you're looking for.</p>
    <div id="lookingForOptions" class="role-options" data-user-key="lookingFor">
      <div class="role {{maybeActiveLF 'designer'}}" data-role="designer">Designer</div>
      <div class="role {{maybeActiveLF 'developer'}}" data-role="developer">Developer</div>
      <div class="role {{maybeActiveLF 'business'}}" data-role="business">Biz. Dev.</div>
    </div>
  </div>

  <div class="module">
    <p>Your Summary</p>
    <div id="summaryPanel" class="editable-textarea">
      <div class="preview">{{{ simpleFormat summary }}}</div>
      <button>
        <span class="icon"><i class="fa fa-edit"></i></span>
        <span class="text">Edit</span>
      </button>
      <textarea></textarea>
    </div>
  </div>

  <div class="module">
    <p>Your Skills and Interests</p>
    <div class="user-option-list">
      <div class="column">

        <div class="list-card" data-user-key="skills">
          <div class="card-bar">
            <input class="tag-textbox" type="text" max-length="20" placeholder="Add skills" />
            <button class="tag-submit">Add <i class="fa fa-plus"></i></button>
          </div>
          <ul class="list">
            {{#if skills}}
              {{#each skills}}
                <li>
                  <span>{{capitalizeEveryWord this}}</span>
                  <button class="remove-tag-btn" data-tag="{{this}}"><i class="fa fa-remove"></i></button>
                </li>
              {{/each}}
            {{else}}
              <li class="empty-list"><i class="fa fa-exclamation"></i> This list is empty.</li>
            {{/if}}
          </ul>
        </div>

      </div>
      <div class="column-divider"></div>
      <div class="column">

        <div class="list-card" data-user-key="interests">
          <div class="card-bar">
            <input class="tag-textbox" type="text" max-length="20" placeholder="Add interests" />
            <button class="tag-submit">Add <i class="fa fa-plus"></i></button>
          </div>
          <ul class="list">
            {{#if interests}}
              {{#each interests}}
                <li>
                  <span>{{capitalizeEveryWord this}}</span>
                  <button class="remove-tag-btn" data-tag="{{this}}"><i class="fa fa-remove"></i></button>
                </li>
              {{/each}}
            {{else}}
              <li class="empty-list"><i class="fa fa-exclamation"></i> This list is empty.</li>
            {{/if}}
          </ul>
        </div>

      </div>
    </div>
  </div>
</template>
