.minor-tooltip {
  font-style: italic;
  color: lighten(@baseTextColor, 4%);
  font-size: 0.95em;
}

.discuss-header {
  h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  a {
    float: right;
  }
  margin-bottom: 1em;
}

.response-area {
  .subscribe {
    float: right;
    margin-top: .5em;
  }
}

.discuss-chat-screen {
  border: 1px solid @baseBorderColor;
  background: white;
  height: 25em;
  overflow: auto;
  overflow-x: hidden;
  position: relative;
  .bubble {
    overflow: hidden;
    border-bottom: 1px solid lighten(@baseBorderColor, 5%);
    padding: 1em;
    width: 100%;
    opacity: 1;
    .transition(opacity 250ms);
    &.loading {
      opacity: 0;
    }
    .bubble-image {
      float: left;
      width: 5em;
      height: 5em;
      background-position: center center;
      background-size: cover;
    }
    .bubble-content {
      float: right;
      width: ~"calc(100% - 5em)";
      padding: 0 0 0 1em;
      .author-name {
        float: left;
        max-width: 10em;
        overflow: hidden;
        text-overflow: ellipsis;
        color: @darkTextColor;
      }
      .message-date {
        float: right;
        font-size: 0.8em;
      }
      .author-message {
        float: left;
        font-size: 0.95em;
        clear: both;
        padding: 0.5em 0 0 0;
        // TODO: Apply Markdown custom themes here.
        p {
          margin: 0
        }
        blockquote {
          font-size: 14px;
          margin: 0.5em 0;
        }
        h1,h2,h3,h4,h5,h6 {
          font-size: 1.25em;
          margin: 0;
        }

      }
    }
  }
  .bubble-right, .bubble-left {
    clear: both;
    max-width: 50%;
    padding: 8px;
    border-radius: 4px;
    position: relative;
    opacity: 1;
    border: 1px solid @baseBorderColor;
    margin-top: 2px;
    .translate(0, 0);
    .transition-transform(500ms, opacity 500ms);
    &.loading {
      opacity: 0;
      .transition-transform(500ms, opacity 500ms);
    }
  }
  .more-messages {
    // Override some button styles.
    position: relative;
    width: 100%;
    clear: both;
    background: @linkBlue;
    color: #FFF;
    border: 0;
    padding: 0.25em 0;
    border-radius: 0;
    &:hover {
      background: lighten(@linkBlue, 4%);
    }
  }
  .empty-thread {
    color: darken(@gray, 10%);
    font-style: italic;
  }
}
