.threads-list {
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  border: 1px solid @baseBorderColor;
  border-top: 0;
  .thread {
    border: 0;
    border-bottom: 1px solid @baseBorderColor;
    border-radius: 0;
  }
  .no-results {
    padding: 2em 1em;
    background: #FFF;
  }
}
