.profile-module {
  margin: 0 1em 1em 1em;
  background: #FFF;
  height: 10em;
  overflow: hidden;
  border: 1px solid @gray;
  border-radius: 4px;
  .profile-image {
    width: 10em;
    height: 10em;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
  }
  .inner {
    float: left;
    margin-left: 1em;
    width: 50%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1em 0;
    .name {
      margin: 0;
      font-size: 1.5em;
    }
    .headline {
      color: @lightTextColor;
      margin: 0;
      font-size: 1.25em;
      margin: 0 0 .5em 0;
    }
    .summary {
      font-size: 1em;
      color: @lightTextColor;
      margin: 0;
      white-space: nowrap;
      height: 5.5em;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .meta {
    float: right;
    width: 10em;
    padding: 1em 0;
  }
}

.module {
  .user-section {
    clear: both;
    .column {
      float: left;
      width: 50%;
    }
    h3 {
      margin: 0 0 0.3em 0;
    }
    .tag-list {
      padding: 0 0 0 0.5em;
      margin: 0;
      margin-bottom: 1em;
      list-style: none;
      list-style-type: square;
      float: left;
      max-height: 15em;
      overflow: auto;
      width: 100%;
      border-left: 1px solid darken(@gray, 10%);
    }
  }
}

.send-message-cta {
  background: white;
  text-align: center;
  display: block;
  margin: 0 1em 1em 1em;
  border: 2px solid @orange;
  color: @orange;
  padding: 0.55em;
  font-size: 1.5em;
  border-radius: 4px;
  &:active {
    color: white;
    background: @orange;
  }
}
